.MenuBar {
  --background-color: var(--white);
  --background-hover-color: var(--gray-100);
  --border-color: var(--gray-200);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--black);
    --background-hover-color: var(--gray-900);
    --border-color: var(--gray-800);
  }

  position: fixed;
  bottom: calc(32px + env(safe-area-inset-bottom));
  box-shadow: 0px 8px 16px rgba(51, 51, 51, 0.08), 0px 0px 48px rgba(44, 44, 44, 0.08);
  border-radius: 24px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  ul {
    list-style-type: none;
    display: flex;
    padding: 12px 16px;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 16px;
    line-height: 100%;
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--background-color);
    font-style: normal;
    transition: 0.2s background-color;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      background-color: var(--background-hover-color);
    }
  }
}